.action-verbs-item {
  width: 100px;
  height: 100px;
  background-color: #0a9dc7;
  display: inline;
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px auto;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.container .flip-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .flip-card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.container .flip-card figure {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 15px;

  /* Firefox 1-3.6 */
  -moz-border-radius: 15px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 15px;
}

.container .flip-card .front {
  background: #fcbb49 repeat-x left bottom;
  border:1px solid #ccc;
  border-bottom:2px solid #bbb;
  border-top:1px solid #ddd;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-box-shadow:5px 2px 2px #bbb;
  box-shadow: 5px 2px 2px #bbb;
  -moz-box-shadow: 5px 2px 2px #bbb;
}

.container .flip-card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );

  background: #FCBEBE repeat-x left bottom;
  border:1px solid #ccc;
  border-bottom:2px solid #bbb;
  border-top:1px solid #ddd;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-box-shadow:5px 2px 2px #bbb;
  box-shadow: 5px 2px 2px #bbb;
  -moz-box-shadow: 5px 2px 2px #bbb;
}
