<div class="action-verbs-container">
    <div class="action-verbs-item" ng-repeat="answer in sortedAnswers" ng-if="!hasPassed">
        <section class="action-verbs-item-container">
            <div class="action-verbs-item-flip-card" ng-class="answer.isActive ? 'flipped' : ''"
                 ng-click="itemClick(answer, $event)">
                <audio controls class="audio hide" src="{{ answer.Sound }}">
                </audio>
                <figure class="front">

                </figure>

                <figure class="back" ng-if="answer.Value">
                    {{answer.Value}}
                </figure>

                <figure class="back" ng-if="answer.Photo"
                        style="background-size: cover; background: url({{ answer.Photo }}) no-repeat center center">
                </figure>
            </div>
        </section>
    </div>

    <div ng-if="hasPassed">
        Passed
    </div>
</div>

