<div class="action-verbs-container">
    <div class="action-verbs-item" ng-repeat="answer in sortedAnswers" >
        <section class="action-verbs-item-container">
            <div class="action-verbs-item-flip-card" ng-class="answer.isActive ? 'flipped' : ''" ng-click="itemClick(answer)">
                <figure class="front">
                    Card Icon
                </figure>
                <figure class="back">
                    {{answer.value}}
                </figure>
            </div>
        </section>

    </div>
</div>

